
    .card {
        
        padding: 1rem;
        height: 4rem;
      }
      
      .cards {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
    .wrapper {
		display: grid;
        grid-gap: .8rem;
        max-width: 1200px;
        margin: 0 auto;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		background-color: rgba(255, 255, 255, 0.171);
        color: rgb(255, 255, 255);
        
	}
    .a{
        padding: 1rem;
        height: 18rem;
       
		display: grid;
        grid-gap: .8rem;
        grid-template-columns: 1fr 1fr;
        background-color: #85705f71;
        margin: 0 auto;
        
        
	}

	.b {
		grid-column: 1 / 3;
        grid-row: 1;
        font-size: large;
        font-weight: 600;
        text-align: center;
        margin-bottom: 0px;
        background-color: #6868689d;
        max-height: 27px;
	}

	.c {
		grid-column: 1;
		grid-row: 2;
	}

	.d {
		grid-column: 2;
        grid-row: 2;
       
	}





.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    grid-gap: 10px 1px;
    
}
.github{
    
    max-width: 100%; 
    height: auto;
    max-height: 220px;
    
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.grid-item1 {
    width: 100px;
    
    
}

.grid-item2 {
font-weight: normal;
    font-size: 1.20vw;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
}

.parallax__layer--back {
    transform: translateZ(-1px);
}

.about {
    left: 30px;
    margin: 0 auto;
    width: 90%;
    font-size: 2vw;
    font-weight: 300;
    line-height: 1.1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.400);
    padding: 10px 20px 20px 20px;
}

.normal {
    width: 100%;
    height: 100vh;
    background: #3a3f44;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

h2 {
    margin: 0 auto;
    width: 90%;
    font-size: 130px;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #fff;
    word-spacing: 100vw;
    text-align: center;
    text-transform: uppercase;
}

.parallax h1 {
    color: #fff;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.parallax:nth-child(1) h1 {
    text-align: left;
}

.normal h1 {
    color: #333;
}

.highlight {
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
}
.highlight_projects {
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    background-color: rgba(73, 79, 85, 0.548);
    color: #fd7e14;
}
.highlight_contact {
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    
    color: #88c580;
}
.title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4{
    position: relative;
    opacity: 1.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("Alarm.jpg");
    min-height: 100vh;
}

.bgimg-2 {
    background-image: url("WoodPlank.webp");
    min-height: 60vh;
}

.bgimg-3 {
    background-image: url("Laptop.jpg");
    min-height: 100vh;
}
.bgimg-4 {
    background-image: url("Alarm.jpg");
    min-height: 94vh;
}
.img-1 {
    image: url("me.jpg");
}

.img-2 {
    background-image: url("mes.jpeg");
    padding-left: 50px;
    padding-top: 200px;
    height: 100vh;
    width: 40vw;
    object-fit: contain;
    background-repeat: no-repeat;
    position: relative;
    background-position: 40px 100px;
    background-attachment: fixed;
}

.containerimg {
    padding-left: 50px;
    padding-top: 200px;
    height: 100vh;
    width: 800px;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: 40px 100px;
    background-attachment: fixed;
}

.item {
    width: 60px;
    min-height: 60px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
    background-repeat: no-repeat;
}

img {
    width: 30vw;
    height: auto;
    object-fit: contain;
}

.caption {
    position: absolute;
    right: 20%;
    top: 20%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption3 {
    position: absolute;
    
    top: 20%;
    
}
.caption2 {
    position: absolute;
    left: 30%;
    top: 5%;
    width: 100%;
    background-position: 40px 100px;
    background-attachment: fixed;
    font-size: 4vw;
    color: #f7f7f7;
    font-weight: bolder;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3, 
    .bgimg-4{
        background-attachment: scroll;
    }
}
